<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Подключение объектов сущностей -->
        <mapping package="ru.dz.labs.api.model"/>

        <mapping class="ru.dz.labs.api.model.Event"/>
        <mapping class="ru.dz.labs.api.model.MissingPeople"/>
        <mapping class="ru.dz.labs.api.model.Point"/>
        <mapping class="ru.dz.labs.api.model.Polyline"/>
        <mapping class="ru.dz.labs.api.model.User"/>

    </session-factory>
</hibernate-configuration>